/* stylelint-disable selector-list-comma-newline-after */
body {
  background-color: black;
}

body .container {
  height: 100%;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
  color: lightgrey;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.header-login-info {
  color: grey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  color: lightgray;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.categoryClicked {
    background-color: grey;
    font-weight: bold;
    color: #551A8B;
}
  
/* MAP */

#map {
  width: 100%;
  background: black;
  min-height: 80vh;
  transition: all 0.3s;
}

.modal-content {
  background-color: rgb(24, 61, 109);
}

.modal-header {
  border-bottom: none;
}

#signinTitle {
  margin-left: 170px;
}

#signinCopy {
  color: lightgray;
}

.modal-footer {
  border-top: none;
}

.new-place {
  padding: 0px;
}

.new-place-form {
  margin: 5px 0px 5px 0px;
}

.new-place-form-hidden {
  display: none;
}

.new-place-title {
  text-align: center;
  color: rgb(40, 47, 51);
  font-size: 16px;
}

.new-place-desc {
  font-size: 14px;
  font-weight: bold;
}

.new-place-hidden {
  display: none;
}

.new-place-visible {
  display: block;
}

.delete-place {
  padding: 0px;
}

.delete-place-title {
  text-align: center;
  color: rgb(40, 47, 51);
  font-size: 16px;
}

.delete-place-hidden {
  display: none;
}

.delete-place-form-hidden {
  display: none;
}

.delete-place-visible {
  display: block;
}

.delete-place-submit {
  margin-left: 100px;
}

#categoriesTitle {
  margin-left: 120px;
}

.modal-sm {
  max-width: 400px;
}

.new-category {
  padding: 0px;
}

.new-category-form {
  margin: 5px 0px 5px 0px;
  width: 200px;
}

.new-category-form-hidden {
  display: none;
}

.new-category-title {
  color: auto;
}

.new-category-desc {
  font-size: 14px;
  font-weight: bold;
}

.new-category-submit {
  margin-top: 5px;
  color: lightblue;
}

.my-category-list {
  color: rgb(70, 70, 70);
  font-size: 14px;
  margin-bottom: 10px;
  list-style-type: arrow;
}

.my-category-list-item {
  height: 30px;
  background-color: lightblue;
}

.my-category-list-item-text {
  margin-right: 10px;
}

.my-category-delete {
  position: absolute;
  right: 12px;
  top: 2px;
  font-weight: bold;
}

.my-category-delete:hover {
  text-decoration: none;
}

.my-category-badge {
  margin-right: 10px;
}

input[type="text"] {
  font-size: 14px;
  height: 30px;
}

::-webkit-input-placeholder {
  font-size: 13px;
}
::-moz-placeholder {
  font-size: 13px;
}
:-ms-input-placeholder {
  font-size: 13px;
}
::placeholder {
  font-size: 13px;
}

select {
  font-size: 13px;
  height: 30px;
}

select.form-control:not([size]):not([multiple]) {
  height: 30px;
}

.form-control {
  font-size: 13px;
  color: grey;
}